* {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  cursor: url('assets/icons/cursor.png'), auto;
}

@font-face {
  font-family: Arcology; src: url('fonts/Arcology.ttf');
}
@font-face {
  font-family: VCR_OSD; src: url('fonts/VCR_OSD_MONO_1.001.ttf');
}
@font-face {
  font-family: D_D; src: url('fonts/DisposableDroidBB.ttf');
}
@font-face {
  font-family: D_D_I; src: url('fonts/DisposableDroidBB_ital.ttf');
}

body {
  background-color: black;
  --unit: 5px; /* Updated by JS */
  --width: 10; /* Updated by JS */
  --height: 5; /* Updated by JS */

  overflow: hidden;
  font-family: Arcology;
  color: cyan;
  height: 100vh;
}

canvas {
  position: absolute;
  left: calc((100% - var(--unit) * var(--width)) / 2);
  top: calc((100% - var(--unit) * var(--height)) / 2);
}

p {
  z-index: 10;
  position: absolute;
  color: black;
  width: calc(var(--unit) * 12);
  font-size: calc(var(--unit) / 3);
  text-align: left;

  opacity: 0;
  transition-duration: 1200ms;
}

#Intro1 {
  left: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 2.5);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 1);
}

#Intro2 {
  left: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 2.5);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 2.5);
}

.cli {
  position: absolute;
  opacity: 1;
  transition-duration: 1200ms;
	color: #4cf965;
  font-family: D_D;
  font-size: calc(var(--unit) / 2.5);

  opacity: 0;
}

#CLI0 {
  font-size: calc(var(--unit) / 4.5);
  text-align: right;
  right: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 1.875);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 1.58);
}

#CLI1 {
  left: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 1.5);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 1.5);
}

#CLI2 {
  left: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 1.5);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 2.2);
}

#CLI3 {
  left: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 1.5);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 2.9);
}

#CLI4 {
  left: calc((100% - var(--unit) * var(--width)) / 2 + var(--unit) * 1.5);
  top: calc((100% - var(--unit) * var(--height)) / 2 + var(--unit) * 4.6);
}

input[type=text] {
  z-index: 20;
  width: calc(var(--unit) * 11);
	appearance: none;
	border: none;
	outline: none;
	background: transparent;
	color: #96fba6;
}
